flows.json
[{"id":"58140a9e.7a7ef4","type":"tab","label":"Resale value preditcion ","disabled":false,"info":""},{"id":"c92756d5.97c0e8","type":"ui_form","z":"58140a9e.7a7ef4","name":"","label":"","group":"c3dab733.9999e8","order":4,"width":0,"height":0,"options":[{"label":"DateCrawled","value":"dcc","type":"text","required":true,"rows":null},{"label":"Name","value":"nm","type":"text","required":true,"rows":null},{"label":"Seller","value":"se","type":"text","required":true,"rows":null},{"label":"OfferType","value":"ot","type":"text","required":true,"rows":null},{"label":"Abtest","value":"ab","type":"text","required":true,"rows":null},{"label":"VehicleType","value":"vt","type":"text","required":true,"rows":null},{"label":"YearOfRegistration","value":"yor","type":"number","required":true,"rows":null},{"label":"Gearbox","value":"gb","type":"text","required":true,"rows":null},{"label":"PowerPS","value":"pps","type":"number","required":true,"rows":null},{"label":"Model","value":"mo","type":"text","required":true,"rows":null},{"label":"Kilometer","value":"km","type":"number","required":true,"rows":null},{"label":"MonthOfRegistration","value":"mor","type":"number","required":true,"rows":null},{"label":"FuelType","value":"ft","type":"text","required":true,"rows":null},{"label":"Brand","value":"br","type":"text","required":true,"rows":null},{"label":"NotRepairedDamage","value":"nrd","type":"text","required":true,"rows":null},{"label":"DateCreated","value":"dc","type":"text","required":true,"rows":null},{"label":"NrOfPictures","value":"nop","type":"number","required":true,"rows":null},{"label":"PostalCode","value":"pc","type":"number","required":true,"rows":null},{"label":"LastSeen","value":"ls","type":"text","required":true,"rows":null}],"formValue":{"dcc":"","nm":"","se":"","ot":"","ab":"","vt":"","yor":"","gb":"","pps":"","mo":"","km":"","mor":"","ft":"","br":"","nrd":"","dc":"","nop":"","pc":"","ls":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":280,"wires":[["ab630e79.77ce7"]]},{"id":"ab630e79.77ce7","type":"function","z":"58140a9e.7a7ef4","name":"pretoken","func":"global.set(\"dcc\",msg.payload.dcc)\nglobal.set(\"nm\",msg.payload.nm)\nglobal.set(\"se\",msg.payload.se)\nglobal.set(\"ot\",msg.payload.ot)\nglobal.set(\"ab\",msg.payload.ab)\nglobal.set(\"vt\",msg.payload.vt)\nglobal.set(\"yor\",msg.payload.yor)\nglobal.set(\"gb\",msg.payload.gb)\nglobal.set(\"pps\",msg.payload.pps)\nglobal.set(\"mo\",msg.payload.mo)\nglobal.set(\"km\",msg.payload.km)\nglobal.set(\"mor\",msg.payload.mor)\nglobal.set(\"ft\",msg.payload.ft)\nglobal.set(\"br\",msg.payload.br)\nglobal.set(\"nrd\",msg.payload.nrd)\nglobal.set(\"dc\",msg.payload.dc)\nglobal.set(\"nop\",msg.payload.nop)\nglobal.set(\"pc\",msg.payload.pc)\nglobal.set(\"ls\",msg.payload.ls)\nvar apikey=\"lulR8HKKvI43-LuAafiwnj0hZHhdpjZLBAnXTACdHaWi\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"x":240,"y":260,"wires":[["5c9c7752.f87438"]]},{"id":"5c9c7752.f87438","type":"http request","z":"58140a9e.7a7ef4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":230,"y":400,"wires":[["d50fac46.0c4d5","f57f51c.7a049b"]]},{"id":"d50fac46.0c4d5","type":"function","z":"58140a9e.7a7ef4","name":"pre prediction","func":"var dcc=global.get('dcc')\nvar nm = global.get('nm')\nvar se = global.get('se')\nvar ot = global.get('ot')\nvar ab = global.get('ab')\nvar vt = global.get('vt')\nvar yor = global.get('yor')\nvar gb = global.get('gb')\nvar pps = global.get('pps')\nvar mo = global.get('mo')\nvar km = global.get('km')\nvar mor = global.get('mor')\nvar ft = global.get('ft')\nvar br = global.get('br')\nvar nrd = global.get('nrd')\nvar dc = global.get('dc')\nvar nop = global.get('nop')\nvar pc = global.get('pc')\nvar ls = global.get('ls')\nvar token=msg.payload.access_token\nvar instance_id=\"25864c5d-02bd-4c3a-9c40-f67690e191b0\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"DateCrawled\", \"Name\", \"Seller\",\"OfferType\",\"Abtest\",\"VehicleType\",\"YearOfRegistration\",\"Gearbox\",\"PowerPS\",\"Model\",\"Kilometer\",\"MonthOfRegistration\",\"FuelType\",\"Brand\",\"NotRepairedDamage\",\"DateCreated\",\"NrOfPictures\",\"PostalCode\",\"LastSeen\"], \"values\": [[dcc,nm,se,ot,ab,vt,yor,gb,pps,mo,km,mor,ft,br,nrd,dc,nop,pc,ls]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":180,"wires":[["b3c37674.ee0fb8"]]},{"id":"b3c37674.ee0fb8","type":"http request","z":"58140a9e.7a7ef4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/7292b30c-6838-4f2b-ac8d-e778b9e4f747/predictions","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":320,"wires":[["28bf1ba7.795db4","c1ec4ec9.6de5a"]]},{"id":"482d1e5e.7bc12","type":"debug","z":"58140a9e.7a7ef4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":240,"wires":[]},{"id":"28bf1ba7.795db4","type":"function","z":"58140a9e.7a7ef4","name":"","func":"msg.payload = msg.payload.predictions[0].values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"x":550,"y":140,"wires":[["aa2c0195.d23c5","482d1e5e.7bc12"]]},{"id":"aa2c0195.d23c5","type":"ui_text","z":"58140a9e.7a7ef4","group":"c3dab733.9999e8","order":5,"width":0,"height":0,"name":"","label":"Price","format":"{{msg.payload}}","layout":"row-left","x":750,"y":60,"wires":[]},{"id":"f57f51c.7a049b","type":"debug","z":"58140a9e.7a7ef4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":420,"wires":[]},{"id":"c1ec4ec9.6de5a","type":"debug","z":"58140a9e.7a7ef4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":320,"wires":[]},{"id":"c3dab733.9999e8","type":"ui_group","z":"","name":"Resale value preditcion ","tab":"1ca30b0f.bf53d5","order":1,"disp":true,"width":"8","collapse":false},{"id":"1ca30b0f.bf53d5","type":"ui_tab","z":"","name":"Resale Value Prediction","icon":"dashboard","disabled":false,"hidden":false}]